* {
      padding: 0ex;
      margin: 0ex;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}
button {
      font-family: "Poppins", sans-serif;
}

header {
      position: relative;
      z-index: 99;
      width: 100%;
      height: 100vh;
      background-image: url(./images/banner.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
}
.overlay-background {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 255, 179, 0.7)
      );
      z-index: 0;
}
.content-header {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
}
.logo-menu {
      position: relative;
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.logo-shop,
.menu-slide {
      margin: 50px;
}
.menu-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: max-content;
      width: max-content;
      padding: 8px;
      border-radius: 4px;
      background-color: rgb(0, 255, 179);
}
.menu-check {
      display: none;
}
.menu-check:checked ~ .menu-hide {
      right: 0px;
}
.menu-check:checked ~ .overlay-black {
      display: block;
      opacity: 0.8;
}
.overlay-black {
      display: none;
      position: fixed;
      z-index: 99;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: 0.5s ease;
}
.menu-hide {
      position: fixed;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      z-index: 999 !important;
      padding: 20px;
      top: 0px;
      right: -100%;
      width: 300px;
      height: 100vh;
      background-color: #666;
      transition: 0.5s ease;
}

.menu-close {
      padding: 5px;
      background-color: rgb(0, 255, 179);
      height: max-content;
      width: max-content;
      border-radius: 5px;
}
.menu-close img {
      display: block;
      height: 25px;
      width: auto;
}
.menu-hide ul {
      list-style: none;
}
.menu-hide ul li {
      margin: 40px 0px;
}
.menu-hide ul li a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
      color: rgb(0, 255, 179);
      transition: 0.5s ease;
}
.menu-hide ul li a:hover {
      color: orange;
}
.logo-shop img {
      width: auto;
      height: 50px;
}

.menu-slide img {
      width: auto;
      height: 20px;
}
.name-shop {
      margin-top: 70px;
      font-size: 120px;
      font-weight: 200;
      color: white;
}
.slogan {
      font-size: 20px;
      font-weight: 200;
      font-style: italic;
      color: white;
}
.btn-item {
      position: relative;
      z-index: 10;
      margin: 50px 20px;
      width: 150px;
      height: 50px;
      background: none;
      outline: none;
      border: 1px solid white;
      font-size: 16px;
      font-weight: 200;
      color: white;
}
.btn-item::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 0%;
      background-color: white;
      transition: 0.5s ease;
}
.btn-item:hover {
      color: rgb(1, 146, 102);
      cursor: pointer;
}
.btn-item:hover::before {
      width: 100%;
}
article {
      padding: 50px 25px;
      height: max-content;
}
.about-us,
.title,
.main-title {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;
}
.main-title img {
      position: absolute;
      top: -25px;
      left: 40%;
      transform: rotate(60deg);
      height: 45px;
      width: auto;
      opacity: 0.5;
}
.main-title div {
      font-size: 20px;
      font-weight: 300;
      color: rgb(1, 146, 102);
}
.title > div {
      font-size: 50px;
      font-weight: 200;
}
.content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      margin-top: 70px;
}
.left-content {
      display: flex;
      width: 35vw;
      flex-direction: column;
      align-content: space-between;
}
.description {
      padding: 20px;
}
.main-descrip {
      font-size: 25px;
      font-weight: 200;
      color: rgb(1, 146, 102);
}
.sub-descrip {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
}
.sub-descrip ion-icon {
      display: flex;
      flex-shrink: 0;
      font-size: 50px;
      margin-right: 30px;
      color: rgb(1, 146, 102);
}
.sub-descrip p {
      text-align: justify;
      font-size: 16px;
      font-weight: 200;
}
.right-content img {
      width: 30vw;
      border-radius: 10px;
}
article:nth-child(2) {
      background-color: #eee;
}
.gird-pic {
      padding: 40px 0px;
      display: grid;
      justify-content: center;
      width: 100%;
      height: max-content;
      grid-template-columns: 40% 40%;
      grid-template-rows: max-content max-content;
      row-gap: 20px;
      column-gap: 20px;
}
.pic-descrip {
      position: relative;
      width: 100%;
}
.pic {
      position: relative;
      width: 100%;
      height: max-content;
}
.pic img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 15px;
}
.overlay-pic {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 255, 179, 0.7)
      );
      border-radius: 15px;
      opacity: 0;
      transition: 1s ease;
}

.slide-descrip {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 100%;
      left: 50%;
      height: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      text-align: center;
      color: white;
      opacity: 0;
      transition: 1s ease;
}
.slide-descrip hr {
      width: 50%;
      border: none;
      border-bottom: 2px solid white;
      margin: 15px 0px;
}
.slide-descrip p {
      font-size: 20px;
      font-weight: 300;
}
.slide-descrip div {
      font-size: 30px;
      font-weight: 400;
}
.pic-descrip:hover > .slide-descrip {
      opacity: 1;
      top: 50%;
}
.pic-descrip:hover .overlay-pic {
      opacity: 1;
}
.grid-client {
      padding: 60px 0px;
      display: grid;
      width: 100%;
      grid-template-columns: 30% 30% 30%;
      column-gap: 2%;
      justify-content: center;
}
.client-say {
      display: flex;
      padding: 20px;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgb(193, 223, 214);
      transition: 1s ease;
}
.client-say:hover {
      transform: translateY(25px);
      box-shadow: 5px 5px 30px rgb(142, 197, 181);
}
.client-say p {
      font-size: 16px;
      font-weight: 300;
      text-align: justify;
}
.name-client {
      display: flex;
      width: 100%;
      height: max-content;
}
.avatar img {
      width: auto;
      height: 70px;
}
.twitter-icon ion-icon {
      font-size: 30px;
      color: rgb(1, 146, 102);
}
.nickname {
      color: rgb(1, 146, 102);
}

.avatar,
.fullname-nick,
.twitter-icon {
      width: max-content;
      height: max-content;
      padding-right: 20px;
}
footer {
      padding-top: 120px;
      background-color: #eee;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
}
.man-img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      height: 350px;
      opacity: 0.08;
      z-index: 0;
}
.grid-shopinfo {
      padding: 25px 0px;
      display: grid;
      justify-content: space-around;
      grid-template-columns: 20% 20%;
      width: 100%;
}
.shop-info {
      display: flex;
      flex-direction: column;
}
.shop-info:nth-child(2) {
      align-items: flex-end;
}
.title-info {
      font-size: 25px;
      font-weight: 300;
      color: rgb(1, 146, 102);
}

.time-shop {
      display: flex;
      align-items: center;
}
.contact-shop {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
}
.time-shop ion-icon,
.contact-shop ion-icon {
      padding: 2px 10px;
      font-size: 25px;
      color: rgb(1, 146, 102);
}
.time-shop span,
.contact-shop span {
      font-size: 16px;
      font-weight: 200;
}
.social-list {
      padding-bottom: 40px;
}
.social-list ul {
      display: flex;
      list-style: none;
}
.social-list ul li {
      font-size: 30px;
      padding: 10px;
}
.social-list ion-icon {
      color: rgb(1, 146, 102);
      transition: 0.5s ease;
}
.social-list ion-icon:hover {
      color: orange;
}
@media only screen and (min-width: 1023px) {
}
@media only screen and (max-width: 770px) {
      .content {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            width: 100%;
      }
      .right-content img {
            height: 50vh;
            width: auto;
      }
      .left-content {
            flex-direction: row;
            column-gap: 30px;
            width: 95%;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
      }
      .description {
            scroll-snap-align: center;
            scroll-snap-stop: always;
      }
      .left-content::-webkit-scrollbar {
            width: 0px;
      }
      .gird-pic {
            grid-template-columns: unset;
            grid-template-rows: unset;
            grid-auto-flow: column;
            grid-auto-columns: 85%;
            justify-content: start;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
      }
      .gird-pic::-webkit-scrollbar {
            width: 0px;
      }
      .pic-descrip {
            scroll-snap-align: center;
            scroll-snap-stop: always;
      }
      .slide-descrip hr {
            border-bottom: 1px solid white;
            margin: 10px 0px;
      }
      .slide-descrip p {
            font-size: 14px;
            font-weight: 200;
      }
      .slide-descrip div {
            font-size: 22px;
            font-weight: 30;
      }
      .grid-client {
            grid-template-columns: 95%;
            row-gap: 40px;
      }
      .grid-shopinfo {
            grid-template-columns: 60%;
            row-gap: 30px;
      }
      .shop-info:nth-child(2) {
            align-items: flex-start;
      }
      .contact-shop {
            flex-direction: row;
      }
}
@media only screen and (max-width: 420px) {
      .logo-shop,
      .menu-slide {
            margin: 20px 10px;
      }
      .description {
            min-width: 250px;
            height: 400px;
      }
      .name-shop {
            margin-top: 200px;
            font-size: 50px;
            font-weight: 400;
      }
      .btn-item {
            width: 120px;
      }
      .title > div {
            font-size: 35px;
      }
      .gird-pic {
            grid-auto-columns: 80%;
      }
      .slide-descrip p {
            font-size: 16px;
            font-weight: 100;
      }
      .slide-descrip div {
            font-size: 20px;
            font-weight: 300;
      }
}
